// Variables
$primary-color: #313f38;
$secondary-color: #fcd043;
$white: #fffcf6;
$primary-font: "Raleway", sans-serif;
$secondary-font: "Poiret One", sans-serif;
$quick-actions-color: #fcd043d7;

@mixin svg-icon($icon-url) {
    background-image: url($icon-url);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: 10px 0;
}

// Base styles
body {
    background-color: $primary-color;
    font-family: $primary-font;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: $white;
    margin: 0 auto;
}

nav {
    height: 50px;
    margin: 20px 0 !important;
}

// Typography
h1 {
    font-family: $secondary-font;
    font-size: 150px;

    @media (max-width: 1024) {
        font-size: 70px;
    }
}

// Utility classes
.white-color {
    color: $white;
}

.primary-color-background {
    background-color: $primary-color;
}

.secondary-color,
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: $secondary-color;
}

// Navbar
.navbar-toggler {
    background-color: transparent;
    border: none;
}

#navbar-links-container {
    justify-content: center !important;
    flex: 8;
}

#navbar-name-container,
#navbar-button-container {
    display: flex;
    flex: 1;
}

#navbar-button-container {
    justify-content: flex-end;
}

#navbar-links > * {
    padding: 0 20px;
}

#navbar-item-container {
    padding: 0 40px;
    justify-content: space-between;
}

// Header
#header-left {
    width: fit-content;
}

#logo {
    min-width: 300px;
    min-height: 300px;
    background-image: url(../assets/hotel_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
}

#rooms-image {
    margin: 80px 0;
    min-height: 700px;
    background-image: url(../assets/rooms.png);
    background-size: cover;
}

#facilities {
    padding: 0 9px;
    color: $secondary-color;
}

#brief {
    max-width: 70%;
    margin-left: auto;
}

// Flex utilities
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}

#quick-actions {
    background-color: $quick-actions-color;
    height: 7rem;
    div {
        p {
            font-weight: 700;
            color: $primary-color;
            margin: 0;
        }
    }
}

#icon-in {
    @include svg-icon($icon-url: "../assets/check-in.svg");
}

#icon-out {
    @include svg-icon($icon-url: "../assets/check-out.svg");
}

#icon-bed {
    @include svg-icon($icon-url: "../assets/bed.svg");
}
