#container-1 {
  background-color: #313f38;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #fffcf6;
  margin: 0 auto;
}

#container-2 {
  background-color: #fffcf6;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  color: #313f38;
  margin: 0 auto;
}

nav {
  height: 50px;
  padding: 40px 0 !important;
}

h1 {
  font-family: "Poiret One", sans-serif;
  font-size: 150px;
  margin: 0;
}
@media (max-width: 1024) {
  h1 {
    font-size: 70px;
  }
}

h2 {
  font-family: "Poiret One", sans-serif;
  font-size: 100px;
  margin: 0;
}
@media (max-width: 1024) {
  h2 {
    font-size: 40px;
  }
}

h4 {
  font-family: "Poiret One", sans-serif;
  font-size: 40px;
  margin: 0;
}
@media (max-width: 1024) {
  h4 {
    font-size: 40px;
  }
}

.spacing {
  padding: 100px 0 100px 0;
}

.white-color {
  color: #fffcf6;
}

.primary-color-background {
  background-color: #313f38;
}

.secondary-color,
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #fcd043;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

#navbar-links-container {
  justify-content: center !important;
  flex: 8;
}

#navbar-links > * {
  padding: 0 20px;
}

#navbar-item-container {
  padding: 0 40px;
  justify-content: space-between;
}

#header-left {
  width: fit-content;
}

#logo {
  background-image: url("../assets/hotel_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  min-width: 300px;
  min-height: 300px;
  margin-left: auto;
}

#rooms-image {
  margin: 80px 0;
  min-height: 700px;
  background-image: url(../assets/rooms.png);
  background-size: cover;
}

#facilities {
  padding: 0 9px;
  color: #fcd043;
}

#brief {
  max-width: 70%;
  margin-left: auto;
}

#quick-actions {
  background-color: rgba(252, 208, 67, 0.8431372549);
  height: 7rem;
}
#quick-actions div p {
  font-weight: 700;
  color: #313f38;
  margin: 0;
}
#quick-actions > :first-child, #quick-actions > :nth-child(2) {
  border-right: rgba(49, 63, 56, 0.5) solid 1px;
}
#quick-actions > :last-child, #quick-actions > :nth-child(2) {
  border-left: rgba(49, 63, 56, 0.5) solid 1px;
}

#icon-in {
  background-image: url("../assets/check-in.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

#icon-out {
  background-image: url("../assets/check-out.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

#icon-bed {
  background-image: url("../assets/bed.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

#img1 {
  background-image: url("../assets/img1.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 400px;
}

#img2 {
  background-image: url("../assets/img2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  width: 250px;
}

#img3 {
  background-image: url("../assets/img3.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  width: 250px;
}

#img4 {
  background-image: url("../assets/img4.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  width: 400px;
}

.circle-button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: solid 1px #313f38;
  background-color: transparent;
}

/*# sourceMappingURL=landing_page.css.map */
