@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// -------------------------------------------------------------------------------------------------------------

$primary-color: #313f38;
$primary-color-navbar: #28312d;
$secondary-color: #fcd043;
$white: #fffcf6;
$white-opacity-40: #fffcf656;
$primary-font: "Raleway", sans-serif;
$secondary-font: "Poiret One", sans-serif;

// -------------------------------------------------------------------------------------------------------------

$h1-font-size: $font-size-base * 8;
$h2-font-size: $font-size-base * 7;
$h3-font-size: $font-size-base * 6;
$h4-font-size: $font-size-base * 4.8;
$h5-font-size: $font-size-base * 3.5;
$h6-font-size: $font-size-base * 2.2;
$h7-font-size: $font-size-base * 1.3;
$h8-font-size: $font-size-base;

$new-font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $h7-font-size,
    8: $h8-font-size
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);

$new-container-max-widths: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
    xxl: 1720px
);
$container-max-widths: map-merge($container-max-widths, $new-container-max-widths);

$accordion-bg: transparent;
$accordion-border-color: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: $primary-color;
// -------------------------------------------------------------------------------------------------------------

@import "../node_modules/bootstrap/scss/bootstrap";

// -------------------------------------------------------------------------------------------------------------

nav {
    background-color: $primary-color-navbar;
}

h1,
h2 {
    font-family: $secondary-font;
    margin: 0;
}

h1 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: $secondary-color;
    transition-duration: 0.2s;
}

a:not(:hover) {
    transition-duration: 0.2s;
}

button {
    border: none;
    background-color: transparent;
}

// -------------------------------------------------------------------------------------------------------------

@mixin container($background-color, $font, $color) {
    background-color: $background-color;
    font-family: $font;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: $color;
    margin: 0 auto;
}

.main-container {
    @include container($primary-color, $primary-font, $white);
}

.secondary-container {
    @include container($white, $primary-font, $primary-color);
}

.spacing {
    padding: 100px 0 100px 0;
}

.white-color {
    color: $white;
}

.white-color-opacity-40 {
    color: $white-opacity-40;
}

.primary-color-background {
    background-color: $primary-color;
}

.white-background {
    background-color: $white;
}

.secondary-color,
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: $secondary-color;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.image-container {
    position: relative;
    display: inline-block;
}

@for $i from 1 through 8 {
    .flex-#{$i} {
        flex: $i;
    }
}

.hline {
    border: solid 1px rgb(236, 236, 236);
}

.input-box {
    border: 1px solid grey;
    background-color: white;
    border-radius: 7px;
}

.form-input {
    border-radius: 0;
    flex-grow: 2;
    border: none;
    background-color: transparent;

    &:focus {
        box-shadow: none;
        background-color: transparent;
    }
}

.accordion-button:focus {
    box-shadow: none;
}

.change-room-button {
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 25px;
    width: 45%;
    box-shadow: 0px 3px 6px #9e9e9e;

    &:active {
        transform: scale(0.95);
        transition-duration: 0.1s;
    }

    &:hover {
        background-color: rgb(238, 238, 238);
    }
}

.m-0-auto {
    margin: 0 auto;
}

// -------------------------------------------------------------------------------------------------------------

#best-apartments {
    position: absolute;
    top: 5%;
    left: 5%;
    color: $secondary-color;
}

#best-apartments-description {
    max-width: 25%;
    position: absolute;
    top: 45%;
    left: 5%;
    color: $secondary-color;
}

// -------------------------------------------------------------------------------------------------------------

@mixin image(
    $image-url,
    $width: auto,
    $height: auto,
    $max-width: auto,
    $max-height: auto,
    $min-width: auto,
    $min-height: auto
) {
    background-image: url($image-url);
    background-size: contain;
    background-repeat: no-repeat;
    width: $width;
    height: $height;
    max-width: $max-width;
    max-height: $max-height;
    min-width: $min-width;
    min-height: $min-height;
}

@mixin img($width, $max-width, $min-width) {
    object-fit: contain;
    width: $width;
    max-width: $max-width;
    min-width: $min-width;
}

#logo {
    @include img(60vw, 300px, 150px);
    margin-left: auto;
}

#rooms-image {
    margin: 80px 0;
    min-height: 700px;
    background-image: url(../assets/rooms.png);
    background-size: cover;
    background-position: center;
}

#icon-in {
    @include image("../assets/check-in.svg", 40px, 40px);
}

#icon-out {
    @include image("../assets/check-out.svg", 40px, 40px);
}

#icon-bed {
    @include image("../assets/bed.svg", 40px, 40px);
}

#hall-img-1 {
    @include img(80vw, 100%, 300px);
}

#hall-img-2 {
    @include img(60vw, 100%, 120px);
}

#superior-twin-1 {
    @include img(36vw, 350px, 180px);
}

#superior-twin-2 {
    @include img(36vw, 550px, 300px);
}

#bartender {
    @include img(36vw, 550px, 250px);
}

#kitchen {
    @include img(50vw, 500px, 275px);
}

#restaurant {
    @include img(30vw, 500px, 275px);
}

#best-room {
    @include img(100%, 100%, 100%);
}

.label {
    @include img(50%, 150px, 50px);
}

#main-gallery {
    @include img(30%, 100vw, 100%);
}

// #gallery-1 {
//     @include img(16%, 350px, 180px);
// }

#gallery-1 {
    @include img(40%, 50vw, 30%);
}

#gallery-2 {
    @include img(20%, 50vw, 50%);
}

#gallery-3 {
    @include img(16%, 500px, 275px);
}

#gallery-4 {
    @include img(16%, 500px, 275px);
}

#contacts-img {
    @include img(100%, 500px, 275px);
}

.arrow-button-img {
    @include img(100%, 30px, 30px);
}

.placeholder-img {
    @include img(100%, 400px, 400px);
}

// -------------------------------------------------------------------------------------------------------------

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
}

::placeholder {
    font-style: italic;
}

// -------------------------------------------------------------------------------------------------------------

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-left,
.marquee-right {
    display: inline-block;
}

.marquee-left {
    animation: marquee-left 15s linear infinite;
}

.marquee-right {
    animation: marquee-right 15s linear infinite;
}

.marquee-left,
.marquee-right {
    h1 {
        display: inline;
        margin: 0;
        padding: 0 10px;
    }
}

@keyframes marquee-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

// -------------------------------------------------------------------------------------------------------------

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #f3f3f3;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20px;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}

.hidden {
    display: none;
    transition: display 1s;
}

// -------------------------------------------------------------------------------------------------------------

$border-size: 0.125rem;
$duration: 250ms;
$ease: cubic-bezier(0.215, 0.61, 0.355, 1);
$space: 1rem;

@mixin multi-button($width, $height, $color, $background-color, $hover-background-color, $hover-color) {
    display: flex;
    width: $width;
    height: $height;
    box-shadow: 0px 3px 6px #9e9e9e;

    button {
        color: $color;
        background-color: $background-color;
        border: 1px solid $color;
        padding: $space / 1.125 $space $space;
        position: relative;
        flex-grow: 1;
        transition: flex-grow $duration $ease;
        cursor: pointer;

        &:hover {
            flex-grow: 2;
            color: $hover-color;
            background-color: $hover-background-color;
        }

        &:active {
            transform: translateY($border-size);
        }

        & + button {
            border-left: 1px solid $color;
            margin-left: -1px;
        }
    }
}

#header-multi-button {
    @include multi-button(100%, auto, $primary-color, $secondary-color, $secondary-color, $primary-color);
    box-shadow: none;

    button {
        font-weight: bold;
        border-top: none;

        &:first-of-type {
            border-left: none;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}

#contacts-multi-button {
    @include multi-button(50%, 80px, $primary-color, white, $primary-color, $secondary-color);
}

// -------------------------------------------------------------------------------------------------------------

@media (max-width: 480px) {
    .d-480-none {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .d-1200-none {
        display: none !important;
    }

    #contacts-multi-button {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 1200px) {
    .input-box {
        max-width: 70%;
    }
}
