@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// -------------------------------------------------------------------------------------------------------------

$primary-color: #ebd96b;
$secondary-color: #c2c8da;
$font: "Poppins", sans-serif;

// -------------------------------------------------------------------------------------------------------------

$h1-font-size: $font-size-base * 7;
$h2-font-size: $font-size-base * 6;
$h3-font-size: $font-size-base * 2.8;
$h4-font-size: $font-size-base * 2.3;
$h5-font-size: $font-size-base * 1.8;
$h6-font-size: $font-size-base * 1.5;
$h7-font-size: $font-size-base * 1.2;
$h8-font-size: $font-size-base;

$new-font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $h7-font-size,
    8: $h8-font-size
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);

$new-container-max-widths: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
    xxl: 1720px
);
$container-max-widths: map-merge($container-max-widths, $new-container-max-widths);

$gutters: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 5,
    7: $spacer * 7,
    8: $spacer * 10,
    9: $spacer * 12.5,
    10: $spacer * 15
);

$card-border-width: 0;
$card-height: 100%;

// -------------------------------------------------------------------------------------------------------------

@import "../../node_modules/bootstrap/scss/bootstrap";

// -------------------------------------------------------------------------------------------------------------

body {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    color: black;
    letter-spacing: -1px;
}

nav {
    * {
        letter-spacing: 1px;
    }
}

// -------------------------------------------------------------------------------------------------------------

.primary-color-bg {
    background-color: $primary-color;
}

.white-bg {
    background-color: white;
}

.poppins-black {
    font-weight: 900 !important;
}

.poppins-medium {
    font-weight: 500 !important;
}

.black-button {
    background-color: black;
    color: white;
    padding: 16px 24px;
    border-radius: 10px;
    border: none;
}

.tilted-bg {
    transform: rotate(-2deg);
    width: fit-content;
}

.tilted-bg-text {
    transform: rotate(2deg);
}

.yellow-bg {
    background-color: $primary-color;
}

.card {
    min-width: 320px;
}

.card-body {
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.card {
    &-title,
    &-description {
        font-weight: 500;
    }

    &-title {
        color: #191919;
    }

    &-description {
        color: #7f7f7f;
    }
}

.arrow-button {
    background-color: transparent;
    border: none;

    img {
        width: 30px;
    }
}

.sales-banner {
    background: rgb(224, 195, 64);
    background: linear-gradient(315deg, rgba(224, 195, 64, 1) 0%, rgba(249, 223, 86, 1) 100%);
}

@for $i from 1 through 8 {
    .flex-#{$i} {
        flex: $i;
    }
}

// -------------------------------------------------------------------------------------------------------------

#main-block {
    background-color: #f4f6f5;
    border-radius: 59px;
}

#brands-section {
    > img {
        max-height: 50px;
    }
}

// -------------------------------------------------------------------------------------------------------------

#main-girl-img {
    max-height: 500px;
}

// -------------------------------------------------------------------------------------------------------------
//DA CAMBIARE PERCHÉ NON MI PIACE

// .hamburger {
//     display: inline-block;
//     cursor: pointer;
//     border: black 1px solid;
// }

// .bar1,
// .bar2,
// .bar3 {
//     width: 35px;
//     height: 3px;
//     background-color: black;
//     margin: 6px 0;
//     transition: 0.4s;
//     border-radius: 20px;
// }

// .change .bar1 {
//     transform: translate(0, 9px) rotate(-45deg);
// }

// .change .bar2 {
//     opacity: 0;
// }

// .change .bar3 {
//     transform: translate(0, -9px) rotate(45deg);
// }

// .hidden {
//     display: none;
//     transition: display 1s;
// }

// -------------------------------------------------------------------------------------------------------------
