@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// -------------------------------------------------------------------------------------------------------------

$primary-color: #ebd96b;
$secondary-color: #c2c8da;
$font: "Poppins", sans-serif;
$border-radius-buttons: 8px;
$tilted-degrees: 2deg;

// -------------------------------------------------------------------------------------------------------------

$h1-font-size: $font-size-base * 7;
$h2-font-size: $font-size-base * 6;
$h3-font-size: $font-size-base * 2.8;
$h4-font-size: $font-size-base * 2.3;
$h5-font-size: $font-size-base * 1.8;
$h6-font-size: $font-size-base * 1.5;
$h7-font-size: $font-size-base * 1.2;
$h8-font-size: $font-size-base;

$new-font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $h7-font-size,
    8: $h8-font-size
);
$font-sizes: map-merge($font-sizes, $new-font-sizes);

$new-container-max-widths: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
    xxl: 1720px
);
$container-max-widths: map-merge($container-max-widths, $new-container-max-widths);

$gutters: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 5,
    7: $spacer * 7,
    8: $spacer * 10,
    9: $spacer * 12.5,
    10: $spacer * 15
);

$card-border-width: 0;
$card-height: 100%;

// -------------------------------------------------------------------------------------------------------------

@import "../../node_modules/bootstrap/scss/bootstrap";

// -------------------------------------------------------------------------------------------------------------
// Elementi default

body {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    color: white;
    letter-spacing: -1px;
    background-color: rgb(44, 44, 44);
}

nav {
    * {
        letter-spacing: 1px;
    }
}

a:hover {
    cursor: pointer;
    color: $primary-color !important;
}

// -------------------------------------------------------------------------------------------------------------
// Classi

.primary-color-bg {
    background-color: $primary-color;
}

.white-bg {
    background-color: rgb(44, 44, 44);
}

.black-bg {
    background-color: black;
    color: white;
}

.poppins-black {
    font-weight: 900 !important;
    letter-spacing: 0;
}

.poppins-medium {
    font-weight: 500 !important;
}

.black-button {
    background-color: white;
    color: black;
    padding: 16px 24px;
    border-radius: $border-radius-buttons;
    border: none;
}

.tilted-bg {
    transform: rotate(-$tilted-degrees);
    width: fit-content;
}

.tilted-bg-text {
    transform: rotate($tilted-degrees);
}

.card {
    min-width: 320px;
    background-color: rgb(44, 44, 44);
}

.card-body {
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.card {
    &-title,
    &-description {
        font-weight: 500;
    }

    &-title {
        color: #ebebeb;
    }

    &-description {
        color: #7f7f7f;
    }
}

.arrow-button {
    background-color: transparent;
    border: none;
    width: 40px;
}

.sales-banner {
    background: rgb(224, 195, 64);
    background: linear-gradient(315deg, rgba(224, 195, 64, 1) 0%, rgba(249, 223, 86, 1) 100%);
}

@for $i from 1 through 8 {
    .flex-#{$i} {
        flex: $i;
    }
}

.grey-text {
    color: #7c7c7c;
}

.max-width {
    @for $i from 0 through 100 {
        @if $i % 10 == 0 {
            &-#{$i} {
                max-width: #{$i + "%"};
            }
        }
    }
}

.input-box {
    width: 40%;
    border: 1px solid grey;
    background-color: white;
    border-radius: calc(0.5rem + $border-radius-buttons);
}

.form-input {
    border-radius: 0;
    border: none;
    background-color: transparent;

    &:focus {
        box-shadow: none;
        background-color: transparent;
    }
}

.footer-links {
    > * {
        margin: 1rem;
    }
}

// -------------------------------------------------------------------------------------------------------------
// ID

#main-block {
    background-color: #414141;
    border-radius: 60px;
}

#brands-section {
    > img {
        max-height: 50px;
    }
}

#download-section {
    a {
        > img {
            max-height: 40px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

// -------------------------------------------------------------------------------------------------------------
// Immagini

#navbar-logo {
    max-width: 32px;
    max-height: 30px;
}

#main-girl-img {
    max-height: 500px;
}

// -------------------------------------------------------------------------------------------------------------
//DA CAMBIARE PERCHÉ NON MI PIACE

// .hamburger {
//     display: inline-block;
//     cursor: pointer;
//     border: black 1px solid;
// }

// .bar1,
// .bar2,
// .bar3 {
//     width: 35px;
//     height: 3px;
//     background-color: black;
//     margin: 6px 0;
//     transition: 0.4s;
//     border-radius: 20px;
// }

// .change .bar1 {
//     transform: translate(0, 9px) rotate(-45deg);
// }

// .change .bar2 {
//     opacity: 0;
// }

// .change .bar3 {
//     transform: translate(0, -9px) rotate(45deg);
// }

// .hidden {
//     display: none;
//     transition: display 1s;
// }

// -------------------------------------------------------------------------------------------------------------
